@model KenticoKontentBlog.Feature.Home.HomeViewModel

@if (Model.IntroText != null && Model.IntroText.Any())
{
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                @Html.DisplayFor(x => x.IntroText)
            </div>
        </div>
    </div>
}

<partial name="_ArticleList" model="Model.Articles" />
