@model KenticoKontentBlog.Feature.Home.HomeViewModel

@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <partial name="_ArticleList" model="Model.Articles" />
</div>