@model KenticoKontentBlog.Feature.Article.ArticleViewModel

<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                @Html.DisplayFor(x => x.Content)

                @if (Model.Categories != null && Model.Categories.Any())
                {
                    <div class="clearfix">
                        @foreach (var category in Model.Categories)
                        {
                            <a asp-controller="Article" asp-action="List" asp-route-category="@category.Key" class="btn btn-dark btn-secondary">@category.Value</a>
                        }
                    </div>
                }
            </div>
        </div>
    </div>
</article>