@model KenticoKontentBlog.Feature.ArticleList.ArticleListViewModel

@if(Model.Articles != null && Model.Articles.Any())
{
    <partial name="_ArticleList" model="Model.Articles" />
}
else
{
    <p>No articles exist with for this category</p>
}
