@model KenticoKontentBlog.Feature.ArticleList.ArticleListViewModel

@{
    ViewData["Title"] = Model.CategoryName;
}

<h1>@Model.CategoryName</h1>

<partial name="_ArticleList" model="Model.Articles" />