@model KenticoKontentBlog.Kentico.Models.BlogArticle

@{
    ViewData["Title"] = "Index";
}

<h1>@Model.Title</h1>
@foreach(var headerImage in Model.HeaderImage)
{
    <img src="@headerImage.Url" alt="@headerImage.Description" />
}

@Html.Raw(Model.ArticleContent)
