@model KenticoKontentBlog.Feature.Author.AuthorViewModel

@if (Model.Articles != null && Model.Articles.Any())
{
    <partial name="_ArticleList" model="Model.Articles" />
}
else
{
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <p>This author has not written any articles</p>
            </div>
        </div>
    </div>
}
