/* Responsive Youtube Embed */
.youtube-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
}

.youtube-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Images embeded input articles */
article figure img {
    max-width: 100%;
    height: auto;
}

/* Header Alignments */
.page-hero {
    display: flex;
    flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    height: 80vh;
    background: no-repeat center center;
    background-color: #FFFFFF !important;
    background-size: contain;
}

.page-hero--content {
    margin: auto;
}

.page-hero h1 {
    font-size: 2rem;
}

.page-hero--left {
    background-position-x: left !important;
}

.page-hero--right {
    background-position-x: right !important;
}

.page-hero--top {
    background-position-y: top !important;
}

.page-hero--bottom {
    background-position-y: bottom !important;
}

@media only screen and (min-width: 768px) {
    .page-hero {
        background-size: cover;
    }
    
    .page-hero h1 {
        font-size: 2.5rem;
    }
}

@media only screen and (min-width: 992px) {
    .page-hero {
        background-size: cover;
    }

    .page-hero h1 {
        font-size: 3rem;
    }
}

@media only screen and (min-width: 1200px) {
    .page-hero {
        background-size: cover;
    }

    .page-hero h1 {
        font-size: 3.5rem;
    }
}

/* Article Author Image*/
img.author-profile {
    width: 2.5em;
    height: 2.5em;
    background-size: cover;
    border-radius: 50%;
    object-fit: cover;
}

div.card-header-image {
    object-fit: cover;
    object-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 15rem;
}

article figure img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.carousel-caption p, .carousel-control-next-icon, .carousel-control-prev-icon {
    background-color: #00000088;
}

.carousel-image {
    height: 80vh;
    width: auto;
}