/* Responsive Youtube Embed */
.youtube-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
}

.youtube-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Images embeded input articles */
article figure img {
    max-width: 100%;
    height: auto;
}

/* Header Alignments */
header.masthead {
    min-height: 80vh;
    background-color: #007FFF !important;
}

header.masthead-left {
    background-position-x: left !important;
}

header.masthead-left {
    background-position-x: right !important;
}

header.masthead-top {
    background-position-y: top !important;
}

header.masthead-bottom {
    background-position-y: bottom !important;
}

/* Article Author Image*/
img.author-profile {
    width: 2.5em;
    height: 2.5em;
    background-size: cover;
    border-radius: 50%;
    object-fit: cover;
}

div.card-header-image {
    object-fit: cover;
    object-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 15rem;
}