/* Responsive Youtube Embed */
.youtube-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
}

.youtube-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Images embeded input articles */
article figure img {
    max-width: 100%;
    height: auto;
}

/* Header Alignments */
header.masthead {
    margin-bottom: 50px;
    min-height: 75vh;
    background: no-repeat center center;
    background-color: #007FFF !important;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
}

header.masthead-left {
    background-position-x: left !important;
}

header.masthead-left {
    background-position-x: right !important;
}

header.masthead-top {
    background-position-y: top !important;
}

header.masthead-bottom {
    background-position-y: bottom !important;
}

header.masthead .page-heading,
header.masthead .post-heading,
header.masthead .site-heading {
    padding: 200px 0 150px;
    color: white;
}

header.masthead .page-heading,
header.masthead .site-heading {
    text-align: center;
}

header.masthead .page-heading h1,
header.masthead .site-heading h1 {
    font-size: 50px;
    margin-top: 0;
}

header.masthead .page-heading .subheading,
header.masthead .site-heading .subheading {
    font-size: 24px;
    font-weight: 300;
    line-height: 1.1;
    display: block;
    margin: 10px 0 0;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

header.masthead .post-heading h1 {
    font-size: 35px;
}

header.masthead .post-heading .meta,
header.masthead .post-heading .subheading {
    line-height: 1.1;
    display: block;
}

header.masthead .post-heading .subheading {
    font-size: 24px;
    font-weight: 600;
    margin: 10px 0 30px;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

header.masthead .post-heading .meta {
    font-size: 20px;
    font-weight: 300;
    font-style: italic;
    font-family: 'Lora', 'Times New Roman', serif;
}

header.masthead .post-heading .meta a {
    color: #fff;
}

@media only screen and (min-width: 768px) {
    header.masthead .page-heading,
    header.masthead .post-heading,
    header.masthead .site-heading {
        padding: 200px 0;
    }
    
    header.masthead .page-heading h1,
    header.masthead .site-heading h1 {
        font-size: 80px;
    }
    
    header.masthead .post-heading h1 {
        font-size: 55px;
    }

    header.masthead .post-heading .subheading {
        font-size: 30px;
    }
}

/* Article Author Image*/
img.author-profile {
    width: 2.5em;
    height: 2.5em;
    background-size: cover;
    border-radius: 50%;
    object-fit: cover;
}

div.card-header-image {
    object-fit: cover;
    object-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 15rem;
}
