@model KenticoKontentBlog.Feature.Error.ErrorViewModel

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            @Html.DisplayFor(x => x.Content)
        </div>
    </div>
</div>